
.board_square {
    width: 50px;
    height: 50px;
    border: 5px black solid;
    float: left;
}

.board_square_newline {
    width: 50px;
    height: 50px;
    border: 5px black solid;
    float: left;
}

span {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 2.5em;
    padding-right: 12px;
}

table {
    cellspacing: 0;
    border-collapse: collapse;
}

.bottom-numbers {
    width: 50px;
    height: 50px;
    text-align: right;
    font-size: 2.5em;
    padding-left: 12px;
}