{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battleship</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
</head>
<body>
    <div class="board-container">
        <table>
            {% for row in rows %}
                <tr>
                    <td><span>A</span></td>
                    {% for column in columns %}
                            <td class="board_square"></td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr class='bottom-numbers'>
                <td></td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
            </tr>
        </table>
    </div>
</body>
</html>